<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= form_with model: @event, url: events_path, local: true do |f| %>
        <%= f.label :name, "イベント名" %>
        <%= f.text_field :name, class: 'form-control' %>
        <br>
        <%= f.label :memo, "イベント詳細" %>
        <%= f.text_area :memo, class: 'form-control' %>
        <br>
        <%= f.label :begin_time, "開始日時" %>
        <%= f.datetime_field :begin_time %>
        <br>
        <%= f.label :finish_time, "終了日時" %>
        <%= f.datetime_field :finish_time %>
        <br>
        <%= f.submit "新規登録", class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>