<div class="container">
  <div class ="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 class="text-center" style="padding: 20px 0;">〜 イベント詳細 〜</h3>
      <table class="table table-borderless">
        <tr class="d-flex">
          <th class="col-md-4">タイトル</th>
          <td><%= @event.title %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-md-4">開始日時</th>
          <td><%= @event.begin_time %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-md-4">終了日時</th>
          <td><%= @event.finish_time %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-md-4">場所</th>
          <td><%= @event.place %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-md-4">ジャンル</th>
          <td><%= @event.genre %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-md-4">メモ</th>
          <td><%= @event.memo %></td>
        </tr>
      </table>

      <% if @event.image_url == nil %>
      <div></div>
      <% else %>
        <div class="col-md-12 text-center">
          <%= image_tag @event.image_url, :size => '400x300', fallback: "no_image.png" %>
        </div>
      <% end %>
      <div class="row mt-4 mb-5">
        <% if @event.user == current_user %>
          <div class="col-md-4 ml-4">
            <%= link_to "編集", edit_event_path(@event), class: "btn btn-secondary btn-block pt-3 pb-3"%>
          </div>
          <div class="col-md-4 ml-4">
            <%= link_to "削除", event_path(@event), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger btn-block pt-3 pb-3"%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 border-left">
      <h3 class="text-center" style="padding: 20px 0;">〜 参加者一覧 〜</h3>
      <h5 class="pb-3  text-center"><%= @event.user.name %>（作成者）</h5>

      <% @event_users.each do |event_user| %>
        <%= link_to mypage_path(event_user.user), class: "text-dark" do %>
          <h6 class="text-center"><%= event_user.user.name %></h6>
        <% end %>
      <% end %>
      <div class="text-center mt-3">
        <% if @event.joined_by?(current_user) %>
          <%= link_to event_event_user_path(@event), method: :delete do %>
          <h6 class="btn btn-danger">参加しない</h6>
          <% end %>
        <% else %>
          <%= link_to event_event_users_path(@event), method: :post do %>
          <h6 class="btn btn-success">参加する</h6>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


</div>