<div class="container">
  <div class="row">
    <div class="col-md-3 text-center" style="margin-right: 0;">
      <%= render 'posts/left_side', user: @user %>
    </div>

    <div class="col-md-6 pt-4 border-right" style="margin-left: 0;">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= attachment_image_tag @user_mypage, :profile_image, :size => '100x120' %><br>
          <h5><%= @user_mypage.name %></h5>
          <%= @user_mypage.user_status %> 経験：<%= @user_mypage.experience %>年<br>
          <%= @user_mypage.introduction %>
        </div>
      </div>
      <div class="row mb-2 pb-2">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center profile_data_content">
          <label>投稿数</label><br>
          <%= @user_mypage.posts.count %>
        </div>
        <div class="col-md-4 text-center pt-3">
          <% if @user_mypage == current_user %>
            <%= link_to "編集", edit_mypage_path(@user), class: "btn btn-outline-secondary"%>
          <% end %>
        </div>
      </div>
      <%= render 'posts/all_posts', all_posts: @all_posts %>
    </div>

    <div class="col-md-3 text-center">
      <%= render 'posts/right_side' %>
    </div>
  </div>
</div>