<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="v_line_right">
        <%= attachment_image_tag @user, :profile_image, :size => '150x180', fallback: "no_image.png", class: "m-4" %>
        <h3><%= @user.name %></h3>
        <p><%= @user.user_status %></p>
        <p>経験： <%= @user.experience %> 年</p>
        <lavel>ー自己紹介ー</lavel>
        <p><%= @user.introduction %></p>

        <%= link_to " 新規投稿 ", new_post_path, class: "btn btn-success m-4" %>

      </div>
    </div>

    <div class="col-md-5 mt-4">
      <% @all_posts.each do |pos| %>
      <div class="row mb-1">
        <div class="col-md-12">
          <%= link_to user_path(pos.user_id) do %>
            <div>
              <%= image_tag pos.user.profile_image_url, :size => '40x40' %>
              <%= pos.user.name %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-5">
          <%= link_to post_path(pos) do %>
            <%= attachment_image_tag pos, :image, :size => '170x220' %>
          <% end %>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12">
              <%= link_to post_path(pos), :style => "color:black;" do %>
                <h5 class="font-weight-bold"><%= pos.name %></h5>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ol class="list-unstyled">
                <li>おすすめ度</li>
                <li>レベル</li>
                <li>多目的トイレ</li>
                <li>駐車場</li>
                <li>レンタル自転車</li>
              </ol>
            </div>
            <div class="col-md-6">
              <ol class="list-unstyled">
                <li><%= pos.recommend_level %></li>
                <li><%= pos.road_level %></li>
                <li><%= pos.toilet %></li>
                <li><%= pos.parking %></li>
                <li><%= pos.rental_bicycle %></li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= link_to "コメント", root_path %>
              <%= link_to "いいね", root_path %>
            </div>
          </div>
        </div>
      </div>
       <% end %>
    </div>

    <div class="col-md-3 text-center">
      <h5>♡いいねランキング</h5>
      <br>
      <p>第１位</p>
      <p>第２位</p>
      <p>第３位</p>
    </div>
  </div>
</div>

