<div class="container">
  <div class="row">
    <div class="col-md-4 text-center v_line_right">
      <%= attachment_image_tag @user, :profile_image, :size => '150x180', fallback: "no_image.png", class: "m-4" %>
      <h3><%= @user.name %></h3>
      <p><%= @user.user_status %></p>
      <p>経験： <%= @user.experience %> 年</p>
      <lavel>ー自己紹介ー</lavel>
      <p><%= @user.introduction %></p>
      <br>
      <p><b><%= link_to " 投 稿 一 覧", posts_path, class: "nav-link text-dark fab fa-accessible-icon" %></b></p>
      <p><%= link_to " カレンダー", root_path, class: "nav-link text-dark fas fa-calendar-alt" %></p>
      <p><%= link_to " マイページ", root_path, class: "nav-link text-dark fas fa-user" %></p>
      <p><%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark fas fa-sign-out-alt" %></p>
    </div>
    <% @all_posts.each do |pos| %>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <%= link_to user_path(pos.user.id) %>
            <div>
              <%= pos.user.profile_image %>
              <span><%= pos.user.name %></span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          
        </div>
      </div>
    </div>
    <% end %>
    <div class="col-md-3"></div>
  </div>
</div>