<div class="container">
  <h3 style="padding: 20px 0;">新規投稿</h3>
  <div class="row">
    <%= form_with model: @post, url: posts_path, local:true do |f| %>
      <table class="table table-borderless">
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"場所名" %></th>
          <td class="col-6"><%= f.text_field :name, size: 50 %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"住所" %></th>
          <td class="col-8"><%= f.text_field :address, size: 50 %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"紹介画像" %></th>
          <td class="col-6">
            <%= f.attachment_field :image %>
          </td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"紹介文" %></th>
          <td class="col-6"><%= f.text_area :introduction, size: "50x4" %></td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"おすすめ度" %></th>
          <td class="col-2">
            <%= f.radio_button :recommend_level, 1 %>
            <%= f.label :recommend_level, "1" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :recommend_level, 2 %>
            <%= f.label :recommend_level, "2" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :recommend_level, 3 %>
            <%= f.label :recommend_level, "3" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :recommend_level, 4 %>
            <%= f.label :recommend_level, "4" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :recommend_level, 5 %>
            <%= f.label :recommend_level, "5" %>
          </td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"レベル" %></th>
          <td class="col-2">
            <%= f.radio_button :road_level, 1 %>
            <%= f.label :road_level, "1" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :road_level, 2 %>
            <%= f.label :road_level, "2" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :road_level, 3 %>
            <%= f.label :road_level, "3" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :road_level, 4 %>
            <%= f.label :road_level, "4" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :road_level, 5 %>
            <%= f.label :road_level, "5" %>
          </td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"多目的トイレ" %></th>
          <td class="col-2">
            <%= f.radio_button :toilet, true %>
            <%= f.label :toilet, "あり" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :toilet, false %>
            <%= f.label :toilet, "なし" %>
          </td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"駐車場" %></th>
          <td class="col-4">
            <%= f.radio_button :parking, "無料あり" %>
            <%= f.label :parking, "無料あり" %>
          </td>
          <td class="col-4">
            <%= f.radio_button :parking, "有料あり" %>
            <%= f.label :parking, "有料あり" %>
          </td>
          <td class="col-4">
            <%= f.radio_button :parking, "なし" %>
            <%= f.label :parking, "なし" %>
          </td>
        </tr>
        <tr class="d-flex">
          <th class="col-4"><%= f.label :"レンタル自転車" %></th>
          <td class="col-2">
            <%= f.radio_button :rental_bicycle, true %>
            <%= f.label :rental_bicycle, "あり" %>
          </td>
          <td class="col-2">
            <%= f.radio_button :rental_bicycle, false %>
            <%= f.label :rental_bicycle, "なし" %>
          </td>
        </tr>
      </table>
      <div class="col-md-5">
        <%= f.submit "投稿する", class: "btn btn-outline-success btn-block mb-5" %>
      </div>
    <% end %>
  </div>
</div>