<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= render 'posts/left_side', user: @user %>
    </div>

    <div class="col-md-9 pt-4 pl-3">
      <div class="row mb-1">
        <div class="col-md-12">
          <%= link_to mypage_path(@user_mypage), class: "text-dark text-decoration-none" do %>
            <div>
              <%= image_tag @post.user.profile_image_url, :size => '40x40' %>
              <%= @post.user.name %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-3">
          <%= link_to post_path(@post) do %>
            <%= attachment_image_tag @post, :image, :size => '200x300' %>
          <% end %>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
              <%= link_to post_path(@post), :style => "color:black;" do %>
                <h5 class="font-weight-bold"><%= @post.name %></h5>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <ol class="list-unstyled">
                <li>おすすめ度</li>
                <li>レベル</li>
                <li>多目的トイレ</li>
                <li>駐車場</li>
                <li>レンタル自転車</li>
              </ol>
            </div>
            <div class="col-md-6">
              <ol class="list-unstyled">
                <% if @post.recommend_level == 1 %>
                  <li>★</li>
                <% elsif @post.recommend_level == 2 %>
                  <li>★★</li>
                <% elsif @post.recommend_level == 3 %>
                  <li>★★★</li>
                <% elsif @post.recommend_level == 4 %>
                  <li>★★★★</li>
                <% elsif @post.recommend_level == 5 %>
                  <li>★★★★★</li>
                <% else %>
                  <li>ー</li>
                <% end %>

                <li><b>Lv.<%= @post.road_level %></b></li>

                <% if @post.toilet == true %>
                  <li class="fas fa-toilet">あり</li><br>
                <% elsif @post.toilet == false %>
                  <li>なし</li>
                <% else %>
                  <li>ー</li>
                <% end %>

                <% if @post.parking == "無料あり" %>
                  <li class="fas fa-parking">あり(無料)</li>
                <% elsif @post.parking == "有料あり" %>
                  <li class="fas fa-parking">あり(有料)</li>
                <% elsif @post.parking == "なし" %>
                  <li>なし</li>
                <% else %>
                  <li>ー</li>
                <% end %>

                <% if @post.rental_bicycle == true %>
                  <li class="fas fa-bicycle"> あり</li>
                <% elsif @post.rental_bicycle == false %>
                  <li>なし</li>
                <% else %>
                  <li>ー</li>
                <% end %>
              </ol>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label>ー紹介文ー</label>
              <p><%= @post.introduction %></p>
              <% if @post.user == current_user %>
                <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-secondary"%>
                <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger"%>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div id='map'></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              ー〒住所ー<br>
              <input id="address" type="textbox" value="<%= @post.address %>">
              <input type="button" value="検索" onclick="codeAddress()">
            </div>
          </div>

        </div>
      </div>
      <% @post.comments.each do |comment| %>
        <div class="row border-top pb-3">
          <div class="col-md-12">
              <div class="text-right"><%= l comment.created_at %></div>
              <p>
                <%= image_tag comment.user.profile_image_url, :size => '40x40' %>
                <%= comment.user.name %>
              </p>
              <%= comment.body %>
              <% if comment.user == current_user %>
                <div class="text-right">
                  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-outline-danger btn-sm" %>
                </div>
              <% end %>
          </div>
        </div>
      <% end %>
      <div class="row border-top pt-3 pb-3">
        <div class="col-md-12">
          <%= form_with(model:[@post, @comment], local: true) do |f| %>
            <p><%= f.text_area :body, class: 'form-control', placeholder: "コメント" %></p>
            <div class="text-right"><%= f.submit "送信する" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--map-->
<style>
  #map {
    height: 260px;
    width: 260px;
  }
</style>

<script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 31.91111, lng:131.42389},
      zoom: 12,
    });
  }

  let geocoder

  function codeAddress(){
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_KEY'] %>&callback=initMap&libraries=&v=weekly"
  async
>
</script>
