<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFEF6">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to image_tag("WR_logo.png", :size => '200x90'), "/" %>

       <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
         <ul class="navbar-nav justify-content-end">
          <% if user_signed_in? %>
            <li class="h4 mr-4">
              <b><%= link_to "投稿一覧", posts_path, class: "nav-link text-dark fab fa-accessible-icon" %></b>
            </li>
            <li class="h4 mr-4">
              <%= link_to "イベント", events_path, class: "nav-link text-dark fas fa-calendar-alt" %>
            </li>
            <li class="h4 mr-4">
              <%= link_to "マイページ", mypage_path(current_user), class: "nav-link text-dark fas fa-user" %>
            </li>
            <li class="h4">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark fas fa-sign-out-alt" %>
            </li>
          <% end %>
         </ul>
       </div>
    </div>
  </nav>
</header>